name: Django CI

on:
  push:
    branches: [ "django_test" ]
  pull_request:
    branches: [ "django_test" ]

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_DB: snow_db
          POSTGRES_USER: snow_user
          POSTGRES_PASSWORD: mypassword
        ports:
          - 5435:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Migrate
      run: |
        python back/manage.py migrate --no-input

    - name: Run Project
      run: |
        python back/manage.py runserver